<md-toolbar layout="row" class="md-whiteframe-z1">
  <md-button class="menu" show ng-click="toggleSideNav()" aria-label="Show Side Navigation"  ng-show="showSideNav">
    <md-icon md-svg-icon="menu" ></md-icon>
  </md-button>
  <h1>{{ $rootScope.headerTitle }} </h1>
</md-toolbar>
<md-divider></md-divider>
<md-toolbar md-scroll-shrink ng-show="partialTitle">
  <div class="md-toolbar-tools">
    <span>{{ partialTitle }}</span>
    <span flex></span>
  </div>
</md-toolbar>
<div layout="column" layout-fill>
  <div>
    <div>
      <md-toolbar ng-show='startedMaps != null' class='md-accent md-hue-2'>
        <div class="md-toolbar-tools" >
          <h2 ng-click='showStarted = !showStarted'>Started Maps</h2>
          <span flex></span>
          <md-button class='md-icon-button' ng-click='showStarted = !showStarted'>
            <md-icon md-svg-icon='expand-more' ng-if='!showStarted'></md-icon>
            <md-icon md-svg-icon='expand-less' ng-if='showStarted'></md-icon>
            <md-tooltip>
                Expand/Collapse
              </md-tooltip>
          </md-button>
        </div>
      </md-toolbar>
      <div ng-show="showStarted && startedMaps != null && startedMaps.length > 0">
        <md-list layout-padding layout="column"  flex>
          <md-list-item class="md-1-line" ng-repeat="mapItem in startedMaps">
            <md-button class="md-raised md-accent md-hue-1" ng-href='#/maps/detail/{{mapItem.id}}' > {{ mapItem.data.terId }} - {{ mapItem.data.name }} <span >  </span>
            </md-button>
          </md-list-item>
        </md-list>
      </div>
    </div>
    <div ng-repeat='fsg in fsgList'>
      <md-divider></md-divider>
      <md-toolbar ng-show='fsg.list != null' class='md-primary md-hue-3'>
        <div class="md-toolbar-tools" >
            <h2 ng-click='fsg.show = !fsg.show'>{{ fsg.name }}</h2>
            <span flex></span>
            <md-button class='md-icon-button' ng-click='addMap(ev, fsg.name)'>
              <md-icon md-svg-icon='add'></md-icon>
              <md-tooltip>
                New Map
              </md-tooltip>
            </md-button>
            <md-button class='md-icon-button' ng-click='fsg.show = !fsg.show'>
              <md-icon md-svg-icon='expand-more' ng-if='!fsg.show'></md-icon>
              <md-icon md-svg-icon='expand-less' ng-if='fsg.show'></md-icon>
              <md-tooltip>
                Expand/Collapse
              </md-tooltip>
            </md-button>
        </div>
      </md-toolbar>
      <md-list layout-padding layout="column" ng-show="fsg.show && fsg.list != null && fsg.list.length > 0">
        <md-list-item class="md-1-line" ng-repeat="mapItem in fsg.list">
          <md-button class="md-raised {{ getMapClass(mapItem) }}" ng-href='#/maps/detail/{{mapItem.id}}' > {{ mapItem.data.terId }} - {{ mapItem.data.name }} </md-button>
        </md-list-item>
      </md-list>
    </div>
    <div>
      <md-divider></md-divider>
      <md-toolbar ng-show='allMapsList != null' class='md-primary md-hue-4'>
        <div class="md-toolbar-tools" >
            <h2 ng-click='showAllMaps = !showAllMaps'>All Maps</h2>
            <span flex></span>
            <md-button class="md-icon-button" title='Export Address CSV' ng-click='exportAllMapsToCsv($event)' ng-if="statusSaveOk" ng-show="userCanExport">
              <md-icon md-svg-icon='export'></md-icon>
              <md-tooltip>
                Export CSV
              </md-tooltip>
            </md-button>
            <md-button class='md-icon-button' ng-click='showAllMaps = !showAllMaps'>
              <md-icon md-svg-icon='expand-more' ng-if='!showAllMaps'></md-icon>
              <md-icon md-svg-icon='expand-less' ng-if='showAllMaps'></md-icon>
              <md-tooltip>
                Expand/Collapse
              </md-tooltip>
            </md-button>
          </div>
      </md-toolbar>
      <md-list layout-padding layout="column" ng-show="showAllMaps && allMapsList != null && allMapsList.length > 0">
        <md-list-item class="md-1-line" ng-repeat="mapItem in allMapsList">
          <md-button class="md-raised {{ getMapClass(mapItem) }}" ng-href='#/maps/detail/{{mapItem.id}}' > {{ mapItem.data.terId }} - {{ mapItem.data.name }} </md-button>
        </md-list-item>
      </md-list>
      <a id='downloadA' ng-show='false' ng-href="{{downloadHref}}" download='{{downloadFile}}'></a>
    </div>
  </div>
    <div ng-show="!mapListReady" layout-padding layout="column" layout-align="space-around center" flex >
        <md-list>
          <md-list-item>
            <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="70" ></md-progress-circular>
            </md-list-item>
        </md-list>
    </div>
</div>
