<md-toolbar layout="row" class="md-whiteframe-z1">
  <md-button class="menu" show ng-click="toggleSideNav()" aria-label="Show Side Navigation"  ng-show="$rootScope.showSideNav">
    <md-icon md-svg-icon="menu" ></md-icon>
  </md-button>
  <h1>{{ headerTitle }} </h1>
</md-toolbar>
<md-divider></md-divider>
<div layout="column" layout-fill>
    <md-list layout-padding layout="column" layout-align="start center" flex>
      <form name='loginFrm' ng-submit='loginUser()' ng-show='!isResettingPwd'>
        <md-list-item class="md-1-line" layout-align='center center'>
          <h3 >Registered Users</h3>
        </md-list-item>
        <md-list-item class="md-1-line" >
          <md-input-container>
            <label>Email</label>
            <input type="email" name='username' ng-model='email' ng-required='true' style='width: 250px;'>
          </md-input-container>
        </md-list-item>
        <md-list-item class="md-1-line" >
          <md-input-container>
            <label>Password</label>
            <input type='password' name='pw' ng-model='pwd' required style='width: 250px;'>
          </md-input-container>
        </md-list-item>
        <md-list-item class="md-1-line" >
          <md-button class='md-raised md-primary' ng-disabled="isPending || isMaint" style='text-align:center' type='submit'>Login</md-button>
        </md-list-item>
        <md-list-item class="md-1-line" ng-show='!isResettingPwd'>
          <div ng-messages="loginFrm.$error" ng-show='!isPending'>
           <span ng-message="required" class='md-accent'>
              Please enter the email and password you used when you registered.
           </span>
           <span ng-message="email" class='md-accent'>
             Your email seems to be incorrect, please recheck.
           </span>
            <span ng-message="invaliduser" class='md-accent'>
             Incorrect email and/or password.
            </span>
          </div>
          <div>
            <md-progress-circular class="md-primary" md-mode="indeterminate" ng-show='isPending'></md-progress-circular>
          </div>
          <div ng-if='isMaint' class='md-accent'>
            Application is in maintenance mode, contact administrator.
          </div>
        </md-list-item>
        </form>
  <!-- 
      <md-list-item class="md-1-line">
          <h4>New Users - please enter a valid email address</h4>
      </md-list-item>
      <md-list-item class="md-1-line" >
        <md-input-container>
          <label>Email</label>
          <input name='email' type="email" ng-model='email' ng-required='true' ng-disabled="justRego" >
        </md-input-container>
      </md-list-item>
      <md-list-item class="md-1-line" >
        <md-button class='md-raised md-primary' ng-click='registerUser()' ng-disabled="isPending || justRego">Register</md-button>
      </md-list-item>
      <md-list-item ng-show='isPending' >
        <md-progress-circular  class="md-primary md-hue-6"  md-mode="indeterminate" ng-show='isPending' ></md-progress-circular>
      </md-list-item>
      <md-list-item class="md-1-line" ng-show="justRego">
        <h4>You have successfully registered! Please check your email for your temporary password.</h4>
      </md-list-item>
    </md-list>
  -->

       <!-- Set Password Form -->
      <form name='resetPwdFrm' ng-submit='setPwd()' ng-show='isResettingPwd'>
        <md-list-item class="md-1-line" layout-align='center center'>
          <h3 >Change Your Password</h3>
        </md-list-item>
        <md-list-item class="md-1-line" >
          <md-input-container>
            <label>Password</label>
            <input type='password' name='oldpwd' ng-model='oldpwd' required style='width: 250px;'>
          </md-input-container>
        </md-list-item>
        <md-list-item class="md-1-line" >
          <md-input-container>
            <label>New Password</label>
            <input type='password' name='newpw' ng-model='newpwd' required style='width: 250px;'>
          </md-input-container>
        </md-list-item>
        <md-list-item class="md-1-line" >
          <md-input-container>
            <label>Confirm Password</label>
            <input type='password' name='confpw' ng-model='confpwd' required style='width: 250px;'>
          </md-input-container>
        </md-list-item>
        <md-list-item class="md-1-line" >
          <md-button type='submit' class='md-raised md-primary' ng-disabled="isPending" style='text-align:center'>Set Password</md-button>
        </md-list-item>
        <md-list-item class="md-1-line"  ng-show='isResettingPwd'>
          <div ng-messages="resetPwdFrm.$error" ng-show='!isPending'>
           <span ng-message="required" class='md-accent'>
              Please fill in all password fields.
           </span>
            <span ng-message="pwdmismatch" class='md-accent'>
             Your new passwords did not match.
           </span>
            <span ng-message="failchange" class='md-accent'>
             Failed to change your password, make sure your current password is correct and try again.
           </span>
          </div>
          <div>
            <md-progress-circular class="md-primary" md-mode="indeterminate" ng-show='isPending'></md-progress-circular>
          </div>
        </md-list-item>
      </form>
    </md-list>
</div>